In [92]:
import os
import pandas as pd

def get_data(file):
    df = pd.read_csv(f"dataset/txns_data_raw/{file}", sep=';')
    qw_count = df.groupby(['qw'])['qw'].count()
    amount_sum = df.groupby(['qw'])['amount'].sum()
    txn_id_sum = df.groupby(['qw'])['txn_id'].sum()
    revenue = df.groupby(['qw'])['client_fee'].sum() + df.groupby(['qw'])['interchange_fee'].sum()
    costs = df.groupby(['qw'])['payout_fee'].sum() + df.groupby(['qw'])['paysys_fee'].sum() + df.groupby(['qw'])['payin_fee'].sum()
    date = pd.to_datetime(df.groupby(['qw'])['txn_minute'].max()).dt.normalize()
    # print(len(qw_count))
    # print(len(amount_sum))
    # print(len(txn_id_sum))
    
    # print(len(revenue))
    # print(len(costs))
    # print(len(date))
    # print('rev')
    # print(revenue[-10:])

    result = pd.DataFrame()
    result['qw_count'] = qw_count
    result['amount_sum'] = amount_sum
    result['txn_id_sum'] = txn_id_sum
    result['revenue'] = revenue
    result['costs'] = costs
    result['date'] = date
    return result

def join_dfs(df1, df2):
    df = df1.append(df2)
    df.reset_index(inplace=True)
    df = df.groupby(['qw']).agg({
        'qw_count': 'sum',
        'amount_sum': 'sum',
        'txn_id_sum': 'sum',
        'revenue': 'sum',
        'costs': 'sum',
        'date': 'max'
    })
    return df

In [93]:
df1 = get_data('txns_ww0.csv')
for file in os.listdir('dataset/txns_data_raw'):
    print(file)
    if file == 'txns_ww0.csv':
        continue
    df2 = get_data(file)
    df1 = join_dfs(df1, df2)
df1
df1.to_csv('data_year.csv')

txns_ww0.csv
txns_ww1.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww10.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww11.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww12.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww13.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww14.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww15.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww16.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww17.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww18.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww19.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww2.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww20.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww21.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww22.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww23.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww24.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww25.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww26.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww27.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww28.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww29.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww3.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww30.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww31.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww32.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww33.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww34.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww35.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww36.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww37.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww38.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww39.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww4.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww40.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww41.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww42.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww43.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww44.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww45.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww46.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww47.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww48.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww49.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww5.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww50.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww51.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww52.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww6.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww7.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww8.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

txns_ww9.csv

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\859755045.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

In [94]:
df1

,qw_count,amount_sum,txn_id_sum,revenue,costs,date
qw,,,,,,
2,8,2.012325e+04,859929894,2.598750,-102.316250,2022-02-10
3,1,3.500000e+03,181102515,0.000000,-28.000000,2022-12-03
5,2,7.129745e+02,307721677,6.981590,-7.911160,2022-08-14
6,4,1.397550e+04,733117916,139.510000,-66.000000,2022-12-12
7,2,2.975000e+03,286228010,7.000000,-5.000000,2022-11-27
...,...,...,...,...,...,...
4631147,383,1.750018e+05,47095025038,1804.882012,-778.034058,2022-11-21
4631148,34,4.941300e+03,4101960613,49.250600,-40.814815,2022-04-13
4631149,41,1.419590e+04,7226124443,175.954450,-153.069195,2022-12-13
4631151,5,7.756892e+03,666220309,56.317800,-53.791580,2022-06-29
4631152,169,2.057817e+06,27082411337,23262.574650,-5904.923563,2022-12-11

In [72]:
result_df = get_data('dataset/txns_data_raw/txns_ww0.csv')

In [73]:
result_df.shape

(234591, 6)

In [74]:
result_df.tail()

         qw_count  amount_sum  txn_id_sum  revenue     costs       date
qw
4630880         2  18966.2550   372707314    0.000 -76.13004 2022-12-29
4630935         2   2625.0000   372217291    0.000   0.00000 2022-12-29
4630938         7   1473.8325  1305060391   14.595 -20.95266 2022-12-30
4630994         1    175.0000   186404577    0.000   0.00000 2022-12-29
4631027         3   1556.5375   559156203   10.430 -18.28030 2022-12-29

In [75]:
result_df_2 = get_data('dataset/txns_data_raw/txns_ww1.csv')

In [76]:
result_df

         qw_count  amount_sum  txn_id_sum   revenue      costs       date
qw
12              1    131.8625   186753381   0.00000  -0.923037 2022-12-31
37              1    105.0875   186813193   2.10175  -5.000000 2022-12-31
81              4   3267.2500   743978527  32.79500 -23.020000 2022-12-27
107             4   1261.7500   744330547  12.61715 -15.047140 2022-12-28
135             6    968.0825  1116310664  19.36165 -30.000000 2022-12-31
...           ...         ...         ...       ...        ...        ...
4630880         2  18966.2550   372707314   0.00000 -76.130040 2022-12-29
4630935         2   2625.0000   372217291   0.00000   0.000000 2022-12-29
4630938         7   1473.8325  1305060391  14.59500 -20.952660 2022-12-30
4630994         1    175.0000   186404577   0.00000   0.000000 2022-12-29
4631027         3   1556.5375   559156203  10.43000 -18.280300 2022-12-29

[234591 rows x 6 columns]

In [77]:
result_df_2

         qw_count  amount_sum  txn_id_sum   revenue     costs       date
qw
52              1    122.5000   185531918   2.45000  -5.00000 2022-12-24
81              2   1807.7500   369825043  17.95500 -12.28000 2022-12-20
99              1    700.0000   185494032   0.00000  -5.60000 2022-12-24
107             2    631.6100   371741931   6.31610  -7.52644 2022-12-26
114             1   1972.3200   184596654   0.00000 -15.77856 2022-12-19
...           ...         ...         ...       ...       ...        ...
4630842         2   1489.2500   370765877  22.33875  -9.44625 2022-12-23
4630935         6  11557.0000  1112121494   0.00000   0.00000 2022-12-26
4630938         3    628.5825   556350275   6.19500 -12.55066 2022-12-24
4630949         1    631.7500   185015430   0.00000   0.00000 2022-12-21
4631027         4   2111.1475   741242746  21.10500 -23.44718 2022-12-25

[275921 rows x 6 columns]

In [79]:
df_joined = join_dfs(result_df, result_df_2)

C:\Users\Xiaomi\AppData\Local\Temp\ipykernel_28240\2512955002.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2)

In [80]:
df_joined

         qw_count  amount_sum  txn_id_sum   revenue      costs       date
qw
12              1    131.8625   186753381   0.00000  -0.923037 2022-12-31
37              1    105.0875   186813193   2.10175  -5.000000 2022-12-31
52              1    122.5000   185531918   2.45000  -5.000000 2022-12-24
81              6   5075.0000  1113803570  50.75000 -35.300000 2022-12-27
99              1    700.0000   185494032   0.00000  -5.600000 2022-12-24
...           ...         ...         ...       ...        ...        ...
4630935         8  14182.0000  1484338785   0.00000   0.000000 2022-12-29
4630938        10   2102.4150  1861410666  20.79000 -33.503320 2022-12-30
4630949         1    631.7500   185015430   0.00000   0.000000 2022-12-21
4630994         1    175.0000   186404577   0.00000   0.000000 2022-12-29
4631027         7   3667.6850  1300398949  31.53500 -41.727480 2022-12-29

[367319 rows x 6 columns]